{{#> layout title=meta.title path=meta.path }}
    {{#*inline "main"}}
        <article>
            <h2>{{ meta.title }}</h2>
            <div>
                タグ:
                {{#if meta.tags}}{{#each meta.tags}}
                    <a href="/tags/{{this}}.html">{{this}}</a>
                {{/each}}{{else}}
                    なし
                {{/if}}
            </div>
            <time style="display: block; text-align: right" datetime="{{meta.date}}">
                {{ meta.date }}
            </time>
            <section>
                {{{ body }}}
            </scetion>
        </article>
        <div id="disqus_thread"></div>
        <script>
            var disqus_config = function () {
            this.page.url = location.href;  // Replace PAGE_URL with your page's canonical URL variable
            this.page.identifier = "{{meta.path}}"; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
            };
            (function() { // DON'T EDIT BELOW THIS LINE
            var d = document, s = d.createElement('script');
            s.src = 'https://diary-caffeine-page.disqus.com/embed.js';
            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
            })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    {{/inline}}
{{/layout}}
