{{#> layout title=meta.title relpath=meta.relpath }}
    {{#*inline "main"}}
        <article>
            <h2>{{ meta.title }}</h2>
            <div>
                タグ:
                {{#if meta.tags}}{{#each meta.tags}}
                    <a href="/tags/{{this}}.html">{{this}}</a>
                {{/each}}{{else}}
                    なし
                {{/if}}
            </div>
            <time style="display: block; text-align: right" datetime="{{meta.date}}">
                {{ meta.date }}
            </time>
            <section>
                {{{ body }}}
            </section>
        </article>
    {{/inline}}
{{/layout}}
