{{#> layout }}
    {{#*inline "main"}}
        <ul>
        {{#each (slice_since articles 10)}}
            <li><a href="/{{#if is_page }}{{ with_extension relpath "html" }}{{else}}{{ relpath }}{{/if}}">
                {{title}}{{#if date}}({{date}}){{/if}}
            </a></li>
        {{/each}}
        </ul>
        <div style="border-top: solid black 1Q; padding-top: 1rem">最新の10件</div>
        <ul>
        {{#each (slice_until articles 10)}}
            <li><a href="/{{ with_extension relpath "html" }}">{{title}}{{#if date}} ({{date}}){{/if}}</a></li>
        {{/each}}
        </ul>
        <div style="border-top: solid black 1Q; padding-top: 1rem">
            相互リンク
            <ul>
                <li /><a href="https://natuka.ge">Natuka.ge</a>
                <li /><a href="https://diary.199024.club">日記</a>
            </ul>
        </div>
        <div>
            {{!-- icon by: http://feedicons.com --}}
            <a href="/feed.atom"><img src="/public/feed-icon.svg" width="24" height="24"></a>
        </div>
    {{/inline}}
{{/layout}}
